body{
  background-color: #fafafa;
}

.auth0-react-styleguide .a0r-sidebar>.a0r-sidebar-header img {
    display: inline-block
}
.auth0-react-styleguide .a0r-sidebar>.a0r-sidebar-header img+img {
    margin-left: 10px
}

.auth0-react-styleguide .a0r-sidebar>.a0r-sidebar-header img {
    display: inline-block
}
.auth0-react-styleguide .a0r-sidebar>.a0r-sidebar-header img+img {
    margin-left: 10px
}
.open-in-codepen-btn {
    letter-spacing: 0;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    padding-right: 0
}
.auth0-react-styleguide .a0r-sidebar {
    position: fixed
}
@media (max-width: 767px) {
    .auth0-react-styleguide .a0r-sidebar {
        top: 0
    }
}
.auth0-react-styleguide .styleguide-content {
    overflow-y: auto;
    margin-top: 70px;
    background: #fafafa
}
@media (min-width: 768px) {
    .auth0-react-styleguide .styleguide-content {
        margin-top: 0;
        margin-left: 250px
    }
}

.react-component-page {
    padding: 20px
}
@media (min-width: 992px) {
    .react-component-page {
        padding: 60px
    }
}
.react-component-page .component-information {
    margin-bottom: 30px
}
.react-component-page .component-title {
    font-size: 28px
}
.react-component-page .component-description {
    color: #777;
    font-size: 16px;
    margin-bottom: 0
}